<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <title>Vue Learning</title>
    <style type="text/css">
        .active {
            color: red;
        }

        .big {
            font-weight: bolder;
            font-size: 2em;
        }
    </style>
</head>

<body>

    <div id="myApp" class="container">
        <h1>{{message}}</h1>

        <!-- v-if -->
        <h3>v-if <span v-if="sel">is True</span></h3>

        <!-- v-for_1 -->
        <h3>v-for_1</h3>
        <ul>
            <li v-for="tmp in arr1">{{tmp.data}}</li>
        </ul>

        <!-- v-model -->
        <h3>v-model : {{v_model_message}}</h3>
        <div class="form-group">
            <input type="text" class="form-control" v-model="v_model_message">
        </div>

        <!-- v-on_1 -->
        <h3>v-on_1 : {{v_on_message}}</h3>
        <button class="btn btn-primary" v-on:click="textBtnClick('text1')">text1</button>
        <button class="btn btn-primary" v-on:click="textBtnClick('text2')">text2</button>
        <button class="btn btn-primary" @click="textBtnClick('text3')">text3</button>

        <!-- component v-bind -->
        <h3>component v-bind</h3>
        <ul>
            <data-item v-for="tmp in arr2" v-bind:item="tmp" :key="tmp.id"></data-item>
        </ul>

        <!-- filters -->
        <h3>filters</h3>
        <p>num to percentage : {{num | toPercentage}}</p>
        <p>v-model message to uppercase: {{v_model_message | toUpperCase}}</p>

        <!-- computed -->
        <h3>computed</h3>
        <p>numAdd5 : {{numAdd5}}</p>
        <p>numMuliply5 : {{numMuliply5}}</p>

        <!-- watch -->
        <h3>watch</h3>
        <p>{{numWatch}}</p>
        <p>{{numWatch_apply}}</p>
        <button class="btn btn-primary" @click="valueBtnClick1(10)">Add10</button>

        <!-- setter -->
        <h3>setter</h3>
        <p>num : {{num}}</p>
        <p>numMuliply5 : {{numMuliply5}}</p>
        <button class="btn btn-primary" @click="valueBtnClick2(10)">Add10</button>

        <!-- class -->
        <h3>class</h3>
        <div v-bind:class="{active:isActive}">class test 1</div>
        <div :class="{active:isActive}">class test 2</div>
        <button class="btn btn-primary" @click="classBtnClick1()">Change class</button>
        <div :class="myClass">class test 3</div>
        <button class="btn btn-primary" @click="classBtnClick2()">Change class</button>

        <!-- 條件 -->
        <h3>條件</h3>
        <span v-if="score < 0">成績未公布</span>
        <span v-else-if="score < 60">{{score}}分 - 成績不及格</span>
        <span v-else-if="score < 80">{{score}}分 - Not Bad</span>
        <span v-else>{{score}}分 - Excellent</span>
        <br>
        <button class="btn btn-primary" @click="conditionBtnClick1()">Your Score</button>

        <!-- v-show -->
        <h3>show</h3>
        <span v-show="isShow">看到你囉！</span>
        <button class="btn btn-primary" @click="showBtnClick1()">check</button>

        <!-- v-for_2 -->
        <h3>v-for_2</h3>
        <ul>
            <li v-for="(tmp, index) in arr3">({{index}}) {{tmp.title}} / price : {{tmp.price}} dollar</li>
        </ul>

        <!-- v-for_3 -->
        <h3>v-for_3</h3>
        <ul>
            <li v-for="(value, key) in datas">{{key}} : {{value}}</li>
        </ul>

        <!-- v-on_2 -->
        <h3>v_on_2</h3>
        <div class="input-group">
            <input id="txtName" class="form-control" v-on:keyup="txtKeyup($event)">
            <div class="input-group-append">
                <button id="btnOK" class="btn btn-primary" v-on:click="btnClick($event)">OK</button>
            </div>
        </div>

        <!-- v-model_2-->
        <h3>v-model : {{v_model_message_2}}</h3>
        <div class="form-group">
            <input type="text" class="form-control" v-model="v_model_message_2" placeholder="...">
        </div>

        <!-- v-model_3 -->
        <h3>v-model checked {{checkedValue}}</h3>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkedValue1" value="123" v-model="checkedValue">
            <label class="form-check-label" for="checkedValue1">123</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkedValue2" value="456" v-model="checkedValue">
            <label class="form-check-label" for="checkedValue2">456</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkedValue3" value="789" v-model="checkedValue">
            <label class="form-check-label" for="checkedValue3">789</label>
        </div>

        <!-- v-model_4 -->
        <h3>v-model picked {{pickedValue}}</h3>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="pickedValue1" value="123" v-model="pickedValue">
            <label class="form-check-label" for="pickedValue1">123</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="pickedValue2" value="456" v-model="pickedValue">
            <label class="form-check-label" for="pickedValue2">456</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="pickedValue3" value="789" v-model="pickedValue">
            <label class="form-check-label" for="pickedValue3">789</label>
        </div>

        <!-- v-model_5-->
        <h3>v-model select {{selectValue}}, {{selectValues}}</h3>
        <h5>single value</h5>
        <select class="custom-select" v-model="selectValue">
            <option disabled></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
        </select>
        <h5>mutiple values</h5>
        <select class="custom-select" v-model="selectValues" multiple>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
        </select>

        <!-- form input modifiers -->
        <h3>form input modifiers</h3>
        <div class="form-group">
            <input type="text" class="form-control" v-model.lazy="v_model_lazy">
        </div>
        <p>lazy: {{v_model_lazy}}</p>
        <div class="form-group">
            <input type="number" class="form-control" v-model.number="v_model_number">
        </div>
        <p>number: {{v_model_number}}</p>
        <div class="form-group">
            <input type="text" class="form-control" v-model="v_model_trim">
        </div>
        <p>trim: {{v_model_trim}}</p>

        <!-- Vue component-->
        <h3>Vue component</h3>
        <today-weather></today-weather>
        <my-weather></my-weather>
        <table class="table">
            <thead>
                <tr is="my-row0"></tr>
                <!--
                <my-row0></my-row0>
                -->
            </thead>
            <tbody>
                <tr is="my-row1"></tr>
                <tr is="my-row2"></tr>
                <tr is="my-row3"></tr>
                <!--
                <my-row1></my-row1>
                <my-row2></my-row2>
                <my-row3></my-row3>
                -->
            </tbody>
        </table>
        <p>
            今天的天氣是<today-weather-data></today-weather-data>
        </p>
        <h5>Component &lt;test-result&gt;</h5>
        <test-result :score="50"></test-result>
        <test-result :score="65"></test-result>
        <test-result :score="95"></test-result>
        <div class="form-group">
            <input type="text" class="form-control" v-model="v_component_message">
        </div>
        <say-hello :name="v_component_message"></say-hello>
        <member-info name="TsuNiWan" :age="20" :detail="{address: 'Earth', language: 'English'}"></member-info>
        <h5>Add Method</h5>
        <add-method :first="15" :second="3" v-on:add_event="getAddResult"></add-method>
        <p>{{addResult}}</p>
        <h5>Slot</h5>
        <say-to name="蔣西南">又是你！</say-to>
        <say-to name="陳小馬">看到你囉！</say-to>
        <h5>multSlot</h5>
        <group-talk name="王拒捕">
            <small slot="first">蔣西南</small>
            <span slot="second">陳小馬</span>
            <strong slot="third">林小示</strong>
        </group-talk>
    </div>
    <script type="text/javascript">
        var weatherComponent = {
            template: '<p>今天下雨，隨它去吧！</p>'
        };

        Vue.component('data-item', {
            props: ['item'],
            template: '<li>{{item.data}}</li>',
        });

        Vue.component('today-weather', {
            template: '<p>今天下雨，出不去拉！</p>'
        });

        Vue.component('my-row0', {
            template: `
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
            `
        });

        Vue.component('my-row1', {
            template: `
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr >
            `
        });

        Vue.component('my-row2', {
            template: `
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            `
        });

        Vue.component('my-row3', {
            template: `
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
            `
        });

        Vue.component('today-weather-data', {
            data: function () {
                return {
                    todayWeather: '雨加雪'
                };
            },
            template: '<strong>{{todayWeather}}</strong>'
        });

        Vue.component('test-result', {
            props: ['score'],
            computed: {
                testResult: function () {
                    let result = '';
                    if (this.score < 60) {
                        result = '不及格';
                    } else if (this.score < 80) {
                        result = '普通';
                    } else if (this.score <= 100) {
                        result = '優等';
                    }
                    return result;
                }
            },
            template: '<p><strong>{{score}}</strong>分：{{testResult}}</p>'
        });

        Vue.component('say-hello', {
            props: ['name'],
            template: '<p>Hello! <strong>{{name}}</strong></p>',
        });

        Vue.component('member-info', {
            props: {
                name: {
                    type: String,
                    required: true,
                },
                age: {
                    type: Number,
                    validator: function (value) {
                        return value >= 0 && value <= 130;
                    }
                },
                detail: {
                    type: Object,
                    default: function () {
                        return {
                            address: 'TW',
                            language: 'Chinese',
                        };
                    }
                }
            },
            template: `
            <div>
            <p>名稱：{{this.name}}</p>
            <p>年齡：{{this.age}}</p>
            <p>國家：{{this.detail.address}}</p>
            <p>語言：{{this.detail.language}}</p>
            </div>
            `
            ,
        });

        Vue.component('add-method', {
            props: ['first', 'second'],
            methods: {
                add: function () {
                    let answer = 0;
                    answer = this.first + this.second;
                    this.$emit('add_event', {
                        result: answer
                    });
                }
            },
            template: '<button class="btn btn-primary" @click="add">Add!</button>',
        });

        Vue.component('say-to', {
            props: ['name'],
            template: '<p><strong>{{name}}</strong><slot></slot></p>'

        });

        Vue.component('group-talk', {
            props: ['name'],
            template: `
            <p>
            <strong>{{name}}</strong>,
            <slot name="first"></slot>,
            <slot name="second"></slot>,
            <slot name="third"></slot>.
            </p>
            `,

        });

        var myApp = new Vue({
            el: '#myApp',
            data: {
                message: 'Hello Vue!!',
                v_model_message: '',
                v_model_message_2: 'test',
                v_on_message: '',
                v_model_lazy: '',
                v_model_number: '',
                v_model_trim: '',
                v_component_message: 'TsuNiWan',
                checkedValue: [],
                pickedValue: '',
                selectValue: '',
                selectValues: [],
                sel: true,
                isActive: true,
                isShow: false,
                num: 0.3,
                numWatch: 0,
                numWatch_apply: 0,
                addResult: 0,
                score: -1,
                arr1: [
                    { data: 'test1' },
                    { data: 'test2' },
                    { data: 'test3' },
                    { data: 'test4' },
                ],
                arr2: [
                    { data: 'item1' },
                    { data: 'item2' },
                    { data: 'item3' },
                ],
                arr3: [
                    { title: 'title1', price: 200 },
                    { title: 'title2', price: 300 },
                    { title: 'title3', price: 400 },
                ],
                myClass: {
                    active: true,
                    big: true,
                },
                datas: {
                    data1: 123,
                    data2: '456',
                    data3: 678,
                    data4: '90',
                },
            },
            methods: {
                textBtnClick: function (text) {
                    this.v_on_message = text;
                },
                valueBtnClick1: function (value) {
                    this.numWatch += value;
                },
                valueBtnClick2: function (value) {
                    this.numMuliply5 += value;
                },
                classBtnClick1: function () {
                    this.isActive = !this.isActive;
                },
                classBtnClick2: function () {
                    this.myClass.active = !this.myClass.active;
                    this.myClass.big = !this.myClass.big;
                },
                conditionBtnClick1: function () {
                    this.score = Math.round(Math.random() * 100);
                },
                showBtnClick1: function () {
                    this.isShow = !this.isShow;
                },
                txtKeyup: function (event) {
                    this.debugLog(event);
                },
                btnClick: function (event) {
                    this.debugLog(event);
                },
                debugLog: function (event) {
                    console.log(
                        event.srcElement.tagName,
                        event.srcElement.id,
                        event.srcElement.innerHTML,
                        event.key ? event.key : ''
                    );
                },
                getAddResult: function (func) {
                    this.addResult = func.result;
                }
            },
            filters: {
                toUpperCase: function (text) {
                    return text.toUpperCase();
                },
                toPercentage: function (value) {
                    return value * 100 + "%";
                },
            },
            computed: {
                numAdd5: function () {
                    return Number(this.num) + 5;
                },
                numMuliply5: {
                    get: function () {
                        return this.num * 5;
                    },
                    set: function (value) {
                        this.num = value / 5;
                    },
                },
            },
            watch: {
                numWatch: function (newVal, oldVal) {
                    console.log(newVal, oldVal);
                    this.numWatch_apply = Number(this.numWatch) + 10;
                }
            },
            components: {
                'my-weather': weatherComponent,
            }
        });

        myApp.numWatch = 5;
    </script>
</body>

</html>