<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Vue Test</title>
    <style type="text/css">
        .active {
            color: red;
        }
    </style>
</head>

<body>

    <div id="myApp">
        <h3>{{message}}</h3>

        <!-- v-if -->
        <h3>v-if <span v-if="sel">is True</span></h3>

        <!-- v-for -->
        <h3>v-for</h3>
        <ul>
            <li v-for="tmp in arr1">{{tmp.data}}</li>
        </ul>

        <!-- v-model -->
        <h3>v-model : {{v_model_message}}</h3>
        <input type="text" v-model="v_model_message">

        <!-- v-on -->
        <h3>v-on : {{v_on_message}}</h3>
        <button v-on:click="textBtnClick('text1')">text1</button>
        <button v-on:click="textBtnClick('text2')">text2</button>
        <button @click="textBtnClick('text3')">text3</button>

        <!-- component v-bind -->
        <h3>component v-bind</h3>
        <ul>
            <data-item v-for="tmp in arr2" v-bind:item="tmp"></data-item>
        </ul>

        <!-- filters -->
        <h3>filters</h3>
        <p>num to percentage : {{num | toPercentage}}</p>
        <p>v-model message to uppercase: {{v_model_message | toUpperCase}}</p>

        <!-- computed -->
        <h3>computed</h3>
        <p>numAdd5 : {{numAdd5}}</p>
        <p>numMuliply5 : {{numMuliply5}}</p>

        <!-- watch -->
        <h3>watch</h3>
        <p>{{numWatch}}</p>
        <p>{{numWatch_apply}}</p>
        <button @click="valueBtnClick1(10)">Add10</button>

        <!-- setter -->
        <h3>setter</h3>
        <p>num : {{num}}</p>
        <p>numMuliply5 : {{numMuliply5}}</p>
        <button @click="valueBtnClick2(10)">Add10</button>

        <!-- class -->
        <h3>class</h3>
        <div v-bind:class="{active:isActive}">class test 1</div>
        <div :class="{active:isActive}">class test 2</div>
        <button @click="classBtnClick()">Change class</button>
    </div>
    <script type="text/javascript">
        Vue.component('data-item', {
            props: ['item'],
            template: '<li>{{item.data}}</li>',
        });

        var myApp = new Vue({
            el: '#myApp',
            data: {
                message: 'Hello Vue!!',
                v_model_message: '',
                v_on_message: '',
                sel: true,
                isActive: true,
                num: 0.3,
                numWatch: 0,
                numWatch_apply: 0,
                arr1: [
                    { data: 'test1' },
                    { data: 'test2' },
                    { data: 'test3' },
                    { data: 'test4' },
                ],
                arr2: [
                    { data: 'item1' },
                    { data: 'item2' },
                    { data: 'item3' },
                ],
            },
            methods: {
                textBtnClick: function (text) {
                    this.v_on_message = text;
                },
                valueBtnClick1: function (value) {
                    this.numWatch += value;
                },
                valueBtnClick2: function (value) {
                    this.numMuliply5 += value;
                },
                classBtnClick: function () {
                    this.isActive = !this.isActive;
                },
            },
            filters: {
                toUpperCase: function (text) {
                    return text.toUpperCase();
                },
                toPercentage: function (value) {
                    return value * 100 + "%";
                },
            },
            computed: {
                numAdd5: function () {
                    return Number(this.num) + 5;
                },
                numMuliply5: {
                    get: function () {
                        return this.num * 5;
                    },
                    set: function (value) {
                        this.num = value / 5;
                    },
                },
            },
            watch: {
                numWatch: function (newVal, oldVal) {
                    console.log(newVal, oldVal);
                    this.numWatch_apply = Number(this.numWatch) + 10;
                }
            },
        });

        myApp.numWatch = 5;
    </script>
</body>

</html>
